<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/stylesheet.css">
  <title>Sea Battle</title>
</head>
<body>

  <div id="login" class="container text-center">
    <h1><br>SEA BATTLE</h1>
    <br><br>
    
     <div class="container">
    <h2>Rooms played</h2>
    <table class="table table-dark" >
      <thead>
        <tr>
          <th>Room ID</th>
          <th>Player1 </th>
          <th>Player2 </th>
        </tr>
      </thead>
      <tbody>
         <% results.forEach(function(res){ %>
            <tr>
                <td><%= res.player_one %></td>
                <td><%= res.player_two %></td>
            </tr>
        <% }); %>
      </tbody>
    </table>

            <div class="text-center">
              <a href="/"><button class="btn btn-primary" id='button' >Back</button>
            </div></a>
  </div>
  </div>

  <!-- JS -->
  <script src="/node_modules/vue/dist/vue.js"></script>
  <script src="/node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="/js/login.js"></script>
</body>
</html>
