<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/stylesheet.css">
  <title>Sea Battle</title>
</head>
<body>

<div id="boats">

    <!-- Title -->
    <div class="container-fluid">
    <div class="row">
    <h1 class="text-center title">SEA BATTLE</h1>
    </div>

    <div class="row">
    <div class="col-sm-3 text-center">
        <h3 class="no-margin">Drag boats</h3>
        <h5>(double click to rotate boats)</h5>

        <div v-for='boat in battleship.boats' :key='boat.name'>
            <h4>{{boat.name}}</h4>
            <div :id='boat.name' v-on:dblclick="rotate(boat.name)" class="divTable draggable boatsTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div v-for='cell in boat.imgSrcList' :value='cell' class="divTableCell"><div class="contentCell" ><img :src="cell" /></div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-6 text-center">
        <div id='myGrid' class="divTable center setBoatsTable">
            <div class="divTableBody">
                <div class="divTableHeading divTableCell"></div>
                <div v-for='col in battleship.grid.length' :value="col" class="divTableHeading divTableCell"><div class="contentCell" >{{String.fromCharCode(64+col)}}</div></div>
                <div v-for='row in battleship.grid.length' :value="row" class="divTableRow">
                    <div class="divTableHeading divTableCell"><div class="contentCell" >{{row}}</div></div>
                    <div v-for='cell in battleship.grid.length' :value='cell' class="divTableCell btn-default case"><div class="contentCell" >&nbsp;</div></div>
                </div>
            </div>
        </div>

        <!-- Valider setBoats -->
        <span style="margin-left:45px;"></span>
        <button v-on:click='randomSetAndSubmitBoats' type="button" class="btn btn-primary title">Random set</button>
        <button v-on:click='submitBoats' type="button" class="btn btn-success title">Submit</button>
        <a href="/quit"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-log-out"></span> &nbsp;Cancel</button></a>

    </div>

    <div class="col-sm-3">
        <div v-for='error in errors' class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            &nbsp;{{error}}
        </div>
    </div>

  </div>

</div>
</div>

    <!-- JS -->
  <script src="/node_modules/vue/dist/vue.js"></script>
  <script src="/node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/setBoat.js"></script>

</body>
</html>
