@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@font-face {
	font-family: Bigboz;
	src: url("Bigboz.otf");
}

body {
	background-color: black;
	background-image: url("https://images7.alphacoders.com/568/568756.jpg"); 
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
	color: white;
}

#infos_connexion {
  margin-right: 0;
  margin-left: auto;
}

button {
  font-size: 3vmin;
}

#infos_connexion button {
  font-size: 3vmin;
  background-color: indigo;
  border: none;
}

.container {
	width: 98%;
	margin-right: 1vmin;
	margin-left: 1vmin;
}

h1, h2, h3, h4, .divTableHeading {
	font-family: Bigboz;
}

h1 {
  	font-size: 8vmin;
    line-height:2em;
}

h2 {
  	font-size: 6vmin;
}

h3 {
	font-size: 5vmin;
}

h4, .divTableHeading {
  	font-size: 4vmin;
}

h5 {
	font-size: 3vmin;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}

.block {
	display: block;
}

.centerVertical {
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -webkit-transform: translate(-50%,-50%);
}

.divTable{
	display: table;
	border: none;
}

#twoGrid .divTableCell, .divTableHead {
	min-width: 20px;
}

.divTableRow {
	display: table-row;
}

.divTableCell, .divTableHead {
	border: 1px solid #ccc;
	display: table-cell;
	padding: 0px;
	width: 7vmin;
	min-width: 7vmin;
	max-width: 7vmin;
	position: relative;
}

.divTableCell:after, .divTableHead:after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.divTableCell > .contentCell {
	position: absolute;
	width: 100%;
	height: 100%;
}

.divTableHeading {
	border:none;
	vertical-align:middle;
	text-align:center;
}

.contentCell img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
}

.contentCell img.right {
	
}

.contentCell img.down  {
	transform: rotate(0.25turn);
}

.contentCell img.superposed {
	z-index: 2;
}

.divTableBody {
	display: table-row-group;
	margin: 0 auto;
}

#serverMessage {
	position: absolute;
	top: 20px;
	right: 20px;
}

#logoutButton {
	position: absolute;
	top: 20px;
	left: 20px;
}

#message-container {
	background-color: black;
	border: 2px white solid;
	width: 80%;
	height: 13vh;
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
}

#send-container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#send-button{
  background-color: black;
}

#message-input {
	margin-left: 10%;
	width: 75%;
  color: black;
}

.bounceIn {
	animation-name: bounceIn;
	animation-duration: 0.5s;
}

.title {
	margin-top: 2%;
	margin-bottom: 2%;
}

.boatsTable {
	z-index: 1;
	transition: transform 0.3s ease-in-out;
}

#attackGrid .btn-primary, #attackGrid .btn-success, #attackGrid .btn-warning, #attackGrid .btn-danger {
	pointer-events: none;
}

#myGrid {
	pointer-events: none;
}

#attackGrid {
}

#attackGrid .btn-primary, #attackGrid .btn-success, #attackGrid .btn-basic, #attackGrid .btn-warning, #attackGrid .btn-danger {
	pointer-events: none;
}

.setBoatsTable {
	margin-top: 5%;
}

.boatsTable > .divTableBody > .divTableRow > .divTableCell, .btn-primary {
	background-color: purple;
}


/*ne marche pas sur google chrome*/
.rotated {
	transform: rotate(0.25turn);
	transition: transform 0.3s ease-in-out;
}
